# Google Sheets API Credentials
# Create a Service Account in Google Cloud Console
# Enable Google Sheets API
# Share your sheet with the service account email

GOOGLE_CLIENT_EMAIL=aaqibabbas92777@gen-lang-client-0224505385.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

# The ID of the Google Sheet to manage
GOOGLE_SHEET_ID=12lhGHrBcwKZxWJc8UeuuH7Tg-jMSPFxhRjLuiWJWEdM
